/* CSS Style Sheet */

*{
    margin:0;
    padding:0;
}

body{
    background-image: url(../img/bluefade.jpg);
    background-size:cover;
}


h1{
    text-align: center;
    margin: 0.5rem;
    color:white;
    
}
.my-nav {
    display: flex;
    background: orange;
    color: whitesmoke;
    min-height: 60px;

}

.my-nav-items {
    display: flex;
    flex-direction:row;
    font-size:large;
    justify-content: space-evenly;
    
}

.about-main{
    display:grid;
    grid-gap: 5rem;
    position: relative;
    align-items: center; 
    grid-template-columns: 1fr;
    grid-template-rows:minmax(100px, auto-fit);
    grid-template-areas:
        'about-article-1'
        'about-article-2'
        'about-article-3'
        'about-article-4'
        'about-article-5' 
        'about-article-6'
        'about-article-7'
        'about-article-8'
        'about-article-9'
    ; 
}

@media (max-width: 780px){
    .about-main{
        display: grid;
        grid-gap: 1.5rem;
        align-items: center;
        margin-bottom: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows:(10px, auto-fit);
        grid-template-areas: 
            'about-article-1'
            'about-article-2'
            'about-article-3'
            'about-article-4'
            'about-article-5'
            'about-article-6'
            'about-article-7'
            'about-article-8'
            'about-article-9'
        ;
    }
}

.about-part-2{
    background-color: white;
    color:black;
}

.about-article{
    padding: 0.5rem;
    color: white;
    font-size:large;
    text-align:left;
    align-items:center;
    justify-items:center;
    margin-top: 2rem;
    margin-bottom:2rem;
}

.about-article img{
    max-height: 350px;
    border: 3px solid orange;
    text-align: center;
}

.about-article p{
    color:white;
    font-weight: 400;
    margin-top: 1rem;
    
}

.about-part-2 p{
    color: black;
    font-weight:400;
    margin-top:1.5rem;
}
.avout-intro{
    background:none;
}

.-about-intro img{
    max-width: 20%;
    border: 3px solid orange;
    margin-left: 50%;
}

.about-intro p{
    color:white;
    background:none;
}

#about-article-1{
    grid-area: about-article-1;
    color:aquamarine;
    }
    
#about-article-2{
    grid-area: about-article-2;
    /* background-color:#f0efbd; */
}

#about-article-3{
    grid-area: about-article-3;
    color:black;
}

#about-article-4{
    grid-area: about-article-4;
    color:black;
}

#about-article-5{
    grid-area: about-article-5;
    color:black;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    
}

#about-article-5 img{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    border-radius:0;
    min-width:auto;
    margin: 2rem;
}

#about-article-6{
    grid-area: about-article-6;
    color:black;
}


#about-article-7{
    grid-area: about-article-7;
}

#about-article-8{
    grid-area: about-article-8;
}

#about-article-9{
    grid-area: about-article-9;
}

#about-article-10{
    grid-area: about-article-10;
}


@keyframes fadeInImage{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInText{
    0% {opacity:0;}
    100% {opacity: 1;}
}

@keyframes fadeInText{
    100% {opacity:0;}
    0% {opacity: 1;}
}



