body{
    margin-left: 1rem;
    margin-right: 1rem;
}

h3{
    color:white;
    font-size:small;
}

.gallery{
   position:relative;
   padding-bottom: 2rem;
   margin-bottom:3 rem;
}

.grid{
    position:absolute;
    display:grid;
    grid-gap: 1.5rem;
    padding-bottom:6rem;
    margin-bottom:2rem;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2 fr 3fr;
    grid-auto-rows: 3fr; */

   /* grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-auto-rows: (autofit,minmax(200px, 350px)); */
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: minmax(10px, auto);
    grid-template-areas: 
        'item-9 item-2 item-3 item-4'
        'item-1 item-6 item-7 item-8' 
        'item-5 item-10 item-11 item-12'
        'item-15 item-14 item-13 item-16'
        'item-17 item-17 item-17 item-17'
    ;
}

@media (max-width: 1020px){
    .grid{
        display: grid;
        grid-gap: 1.5rem;
        align-items: center;
        margin-bottom: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows:(10px, auto-fit);
        grid-template-areas: 
            'item-9'
            'item-2'
            'item-3' 
            'item-4'
            'item-1'
            'item-6' 
            'item-7'
            'item-8'
            'item-5'
            'item-10' 
            'item-11'
            'item-12'
            'item-13'
            'item-14' 
            'item-15'
            'item-16'
            'item-17'                 
            ;
    } 
    }

/*@@media (max-width:800px){
    .grid{
        position:absolute;
        
        display:grid;
        grid-gap: 1.0rem;
        /* grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2 fr 3fr;
        grid-auto-rows: 3fr; */
    
       /* grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-auto-rows: (autofit,minmax(200px, 350px)); */
    
        /*grid-template-columns:repeat(2, 1fr);
        grid-template-rows: fit-content(40%);
        grid-template-areas: 
            'item-1 item-2'
            'item-3 item-4'
            'item-5 item-6' 
            'item-7 item-8'
            'item-9 item-10' 
            'item-11 item-12'
            'item-13 item-14' 
            'item-15 item-15'
        ;
    }
}
    */

.gallery-item{
    padding: 1rem;
    border:  2px solid orange;
    background: #000;
    color: white;
    border-radius: 15px;
    text-align:center;
}

@keyframes FadeIn-3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.gallery-item h3{
    font-size: 1rem;
}

.box{
    background:black;
    color:white;
    min-width: fit-content;
    min-height:fit-content;
}

.box img{
    margin-top: 1.5rem;
}

.gallery-item:first-child{
    /*grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:3; 
    grid-column: 1 / span 1;
    grid-row: 1 ; */
    animation: FadeIn-3 1s;
    grid-area: item-1;
}

.gallery-item:nth-child(2){
    /* grid-column: 2 / span 3; */
    grid-area: item-2;
    animation: FadeIn-3 3s;
}


.gallery-item:nth-child(3){
    /* grid-column: 2 / span 2; */
    grid-area: item-3;
    animation: FadeIn-3 5s;
}

.gallery-item:nth-child(4){
    grid-area: item-4;
    animation: FadeIn-3 7s;
}

.gallery-item:nth-child(5){
    grid-area: item-5;
    animation: FadeIn-3 9s;
}

.gallery-item:nth-child(6){
    grid-area: item-6;
    animation: FadeIn-3 8s;
}

.gallery-item:nth-child(7){
    animation: FadeIn-3 9s;
}

.gallery-item:nth-child(8){
    grid-area: item-8;
    animation: FadeIn-3 12s;
}

.gallery-item:nth-child(9){
    grid-area: item-9;
    animation: FadeIn-3 15s;
}

.gallery-item:nth-child(10){
    grid-area: item-10;
    animation: FadeIn-3 12s;
}

.gallery-item:nth-child(11){
    grid-area: item-11;
    animation: FadeIn-3 7s;
}


.gallery-item:nth-child(12){
    grid-area: item-12;
    animation: FadeIn-3 13s;
}

.gallery-item:nth-child(13){
    grid-area:item-13;
    animation: FadeIn-3 11s;
}

.gallery-item:nth-child(14){
    grid-area: item-14;
    animation: FadeIn-3 15s;
}

.gallery-item:nth-child(15){
    grid-area: item-15;
    animation: FadeIn-3 16s;
}

.gallery-item:nth-child(16){
    grid-area: item-16;
    animation: FadeIn-3 16s;
}

.gallery-item:nth-child(17){
    grid-area: item-17;
    animation: FadeIn-3 16s;
}







.gallery-item img{
    max-width: 80%;
    min-height: 80%;
    
}

