/* Set default color theme */
body {
    background-color:blue;
}

p {
    color: white;
    margin: 6px;
    padding: 2px;
    border: 2px solid black;
}

.jumbo-paragraph {
    color:white;
    margin: 2px;
    padding: 2px;
    width: 70%;
    border: 2px solid black;
}

.gap{
    min-height: 4px;
}


.my-nav{
    min-height: 120px;
    max-height: 160px;
    background-color:coral;
    color: white;
}

.nav-item{
    color:white;
}

.container-1{
    position:relative;
}

.image-container{
    background-color: skyblue;
    width: 100%;
    position:relative;
    padding-bottom: .2rem;

}
.image{
    position:relative;
    left: .5rem;
    bottom: 1.0rem;
    height: 400px;
    object-fit:contain;
    overflow:hidden;
    color:white;
    border: 2px black solid;
}

.jumbo-image{
    position:relative;
    left: .5rem;
    bottom: 1.0rem;
    height: 200px;
    object-fit:cover;
    overflow:hidden;
    color:darkgrey;
    border: 2px black solid;
}


.welcome{
    background-color: lightgoldenrodyellow;
}


.carousel-item {
    height: 32rem;
    color: white;
    position: relative;
    justify-items:auto;
    padding: auto;
}

#item-1 {
    height: 32rem;
    color: white;
    position: relative;
    background-image: url(./img/flying-bird.jpg);
    background-image: cover;

}

.my-jumbotron{
    min-height:200 px;
   
}

.jumbo-image-container{
    min-height: 160px;
    object-fit: cover;
    background-image: url("./img/jumbo-banner2.jpg");
}

.button-container{
    border: 2px solid green;
}

.history{
    color:chocolate;
    text-align: center;
    font-weight: bold;
    text-decoration:overline underline;
}

.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: var(--color2);
    min-height: 50px;
    text-align:center;

}

#intro-p1{
    background-color:var(--color3); 
    
}

#intro-photo{
    size: 30%;
    margin: 6px;
}

#designed-by{
    font-size: 14px;
}