/* Set default color theme */
body {
    background-color: #f0efbd;
}

p {
    color: white;
    margin: 6px;
    padding: 2px;
    border: 2px solid black;
}

.top-info{ 
    height: 30px;
    width: 100%;
    background-color:#f0efbd;
    color:blue;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    margin-bottom:1rem;
    position: relative;
    font-size:large;
    font-weight: 400;
    
}

ul{
    list-style-type: none;
}

ul li{
    display:inline;
    padding: 10px;
}
   

.jumbo-paragraph {
    color:white;
    margin: 2px;
    padding: 2px;
    width: 40%;
    border: 2px solid black;
}

.gap{
    min-height: 4px;
}


.my-nav{
    min-height: 120px;
    max-height: 140px;
    background-color: #8bc6dc;
}

.nav-item{
    color:white;
}
.my-nav-link{
    color: white;
    font-style:italic;
    font-size: 50px;
    font-weight: 700;
}

.container-1{
    position:relative;
}

.image-container{
    background-color: skyblue;
    width: 100%;
    position:relative;
    margin-top:1rem;
    padding-bottom: .5rem;

}
.image{
    position:relative;
    left: .5rem;
    bottom: 1.0rem;
    height: 400px;
    object-fit:contain;
    overflow:hidden;
    color:white;
    border: 2px black solid;
}

.jumbo-image{
    position:relative;
    left: .5rem;
    bottom: 1.0rem;
    height: 200px;
    object-fit:cover;
    overflow:hidden;
    color:darkgrey;
    border: 2px black solid;
}


.welcome{
    background-color: lightgoldenrodyellow;
}

.line-break{
        margin-top:3rem;
        min-height: 20px;
        width: 100%;
        object-fit: cover;
        background-color:#f0efbd;
        position:relative;
        
}


.carousel-item {
    height: 32rem;
    color: white;
    position: relative;
    justify-items:auto;
    padding: auto;
}

#item-1 {
    height: 32rem;
    color: white;
    position: relative;
    background-image: url(./img/flying-bird.jpg);
    background-image: cover;

}

.my-jumbotron{
    min-height:180 px;
    position:absolute;
    margin-bottom: 1rem;
   
}

.jumbo-image-container{
    min-height: 160px;
    object-fit: cover;
    background-image: url("./img/jumbo-banner2.jpg");
    position:relative;
}

.button-container{
    border: 2px solid green;
    position: absolute;
    left:2rem;
}

.jumbo-button {
    border: 2px solid green;
    position: absolute;
    margin-left: 0;
    margin-right:4;
    padding-left:4;
    background-color: orange
}

.history{
    background-color:red;
    color:chocolate;
    width:100%;
    text-align: center;
    font-weight: bold;
    text-decoration:overline underline;
}

.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: var(--color2);
    min-height: 50px;
    text-align:center;

}

#intro-p1{
    background-color:var(--color3); 
    
}

#intro-photo{
    size: 30%;
    margin: 6px;
}

#designed-by{
    font-size: 14px;
}